    .oculto {
      display: none;
    }

    .card {
      padding: 15px;
      background: #e4e4e4;
      border-radius: 8px;
      margin-top: 20px;
      max-width: 300px;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
    }